<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/miscalificaciones" class="nav-link px-2 text-white">Mis Calificaciones</a></li>
          <li><a href="/peliculas" class="nav-link px-2 text-white">Peliculas</a></li>
          <li><a href="/contacto" class="nav-link px-2 text-white">Contacto</a></li>
        </ul>

        <form action="buscar" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Search">
        </form>
        <div class="text-end">
          <a class="btn btn-outline-light me-2" href="/login">Login</a>
          <a class="btn btn-warning" href="/register">Registrarse</a>
        </div>
      </div>
    </div>
  </header>