<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
        <%- usuario.rol==2?include("../partials/navuser"):include("../partials/navadmin")%> 

        <form action="buscar" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input name="busqueda" type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Search">
        </form>
        <div class="text-end">
            <a href="/logout" class="btn btn-info me-2">
                Cerrar sesión
            </a>
        </div>
      </div>
    </div>
  </header>