<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
    <li><a href="/miscalificaciones" class="nav-link px-2 text-white">Mis Calificaciones</a></li>
    <li><a href="/peliculas" class="nav-link px-2 text-white">Peliculas</a></li>
    <li><a href="/peliculasadmin" class="nav-link px-2 text-white">Añadir peliculas</a></li>
    <li><a href="/admin" class="nav-link px-2 text-white">Gestión usuarios</a></li>
    <li><a href="/contacto" class="nav-link px-2 text-white">Contacto</a></li>
  </ul>
