<%- include("./partials/head") %> 
<!-- carga de css -->
<%- include("./partials/closeHead") %>
<%- include("./partials/navforbiden") %> 
<div class="w-75 m-auto contenedor mt-3">
    <h1 class="bg-black m-auto text-danger">Acceso denegado</h1> 
</div>

<!-- carga de js -->
<%- include("./partials/foot") %> 