<%- include("./partials/head") %> 
<!-- carga de css -->
<link rel="stylesheet" href="css/autenticacion.css">
<%- include("./partials/closeHead") %>

<main class=" formularioSesion contenedor w-100 m-auto mt-5">
  <a class="w-75 btn btn-lg mb-3" href="/home" >⬅️ Volver a inicio</a>
    <form action="/register" method="post">
      <img class="mb-4 logo" src="img/logo.png" alt="">
      <h1 class="h3 mb-3 fw-normal">Registrate</h1>
  
      <div class="form-floating">
        <input type="email" name="email" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating">
        <input type="text" name="username" class="form-control mb-3" id="username" placeholder="username">
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating">
        <input type="text" name="nombre" class="form-control mb-3" id="nombre" placeholder="Jose  Marin">
        <label for="floatingInput">Nombre</label>
      </div>

      <div class="form-floating">
        <input type="password" name="password" class="form-control mb-2" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input type="password" name="password2" class="form-control mb-2" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Confirmar password</label>
      </div>
  
     <p class="esconderError textoError" id="errormsg">Password no coinciden</p>

     <div class="alert alert-danger esconderError w-75 m-auto mt-2 mb-3" role="alert" id="msgError">
      Mensaje
    </div>

      <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Registrarse</button>
      
      <p class="mt-5 mb-3 text-muted">© by Mer</p>
    </form>
  </main>

<!-- carga de js -->
<script src="js/registro.js"></script>
<%- include("./partials/foot") %> 